.TokenTrace {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
.TokenTrace-header {
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    font-weight: light;
    font-size: 12px;
}
.TokenTrace-token {
    text-align: right;
    padding: 5px;
}
.TokenTrace-td {
    width: 200px;
    border: 1px solid #e0e0e0;
}
.TokenTrace-box {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;
}
.TokenTrace-td {
    width: 200px;
}